
.Main{
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
}

.RightMain{
    position: absolute;
    width: 50%;
    height: 100%;
    right:0;
    top:0;
    
}

.LeftMain{
    border-right:solid;
    border-color: blue;
    border-right-width: 20px;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top:0;
}

.rightImage{
    width: 100%;
    height:100%;
}

.leftImage{
    width: 100%;
    height: 100%;
}